h3
{font-family: Verdana, Geneva, Tahoma, sans-serif ;}

a
{font-family: Verdana, Geneva, Tahoma, sans-serif; text-decoration-line: underline;text-align: center; }

p
{font-family: Verdana, Geneva, Tahoma, sans-serif;}

h6
{font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center ;}

div button a:hover
{background-color: white; border: 1px solid blue; color: blue;}